.u{
    margin: 2px;
}

.espacio{
    margin: 30px 0px;
}
/*FOOTER*/
.pie-pagina{
    background-color: #0a141d;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}
/*
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
    color: #fff;
    background-color: #fff;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 3ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}

 #grupo-2{
    background-color: chartreuse;
    margin: auto;
    text-align: center;
    padding: 0 40px;
    color: #fff;
    max-width: 1200px;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

li{
    color: white;
}

footer{
    width: 100%;
    padding: 50px 0px;
    background-color: #0a141d;
    background-size: cover;

}

.container-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;

}

.box-footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box-footer .logo img{
    width: 180px;
}

.box-footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #fff;
    font-size: 18px;

}


.box-footer h2{
    margin-bottom: 30px;
    color: #fff;
    font-weight: 700;
}

.box-footer a {
    margin: 10px;
    color: #fff;
    font-weight: 600;
}

.box-footer a:hover{
    opacity: 0.8;
}

.box-footer a .fa-brands{
    font-size: 20px;

}

.box-coypiright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;

}

.box-coypiright p{
    margin-top: 20px;
    color: #fff;
}

.box-coypiright hr{
    border: none;
    height: 1px;
    background-color: aliceblue;
} 