@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 
.servicios{
	height: 115vh;
	background: #fff;
	border-right: 10px solid skyblue;
	border-left: 10px solid skyblue;
	border-bottom: 10px solid skyblue;
    min-width: 250px;
    margin-bottom: 0px;
}
.dos
{
	display: block;
	height: 70px;
	background-color: skyblue;
	justify-content: space-between;
}
.container
{
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}
.container .card
{
    position: relative;
    width: 310px;
    height: 450px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
h1
{
	text-align: center;
	display: block;
	padding-top: 1%;
}
.container .card .content
{
    text-align: center;
}
.container .card .content h3
{
    font-size: 25px;
    color: #000;
    z-index: 1;
}
.container .card .content p
{
    font-size: 1em;
    color: #000;
    font-weight: 300;
}
.container .card .content img
{
	width: 250px;
	height: 150px;
    display: flex;
    padding-left: 70px;
}