.logo{
    width: 120px;
    padding: 3px 0;
    border-radius: 1rem;
}
.imginstalacion{
    margin: 20px 0;
}

.banner-video{
    background-image: url(../imagenes/fondo3.jpg);
    padding: 200px 0;
    position: relative;
    text-align: center;
}

.banner-video img{
    width: 80px;
    height: 80px;
    position: relative;
}

.caption-center{
    top: 40%;
}

.section{
    margin: 32px 0;
}

.texto{
    font-weight: bold;
}

.row{
    color: white;
}

.pie{
    padding: 50px;
 
}
.palabra{
    margin: 2px;
}
.u{
    margin: 2px;
}
